@import "tailwindcss";

:root {
  --color-primary: #40F03F;
  --color-second: #3D463D;
  --color-tertiary: #5C9B5C;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));